%container {
	position: relative;
	@include outer-container(90%);
	width: 90%;
	display: block;
	z-index: 1;

	@include media($desktop_sm) {
		@include outer-container($clover); // 960px
		width: $clover;
	}

	@include media($desktop_lg) {
		@include outer-container($kaiju - 40px); // 1320px
		width: $kaiju - 40px;
	}

	@include media($desktop_xxlg) {
		@include outer-container($betelgeuse); // 1740px
		width: $betelgeuse;
	}
}

%container_flex {
	position: relative;
	display: flex;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	z-index: 1;

	@include media($desktop_sm) {
		width: $clover;
	}

	@include media($desktop_lg) {
		width: $kaiju - 40px;
	}

	@include media($desktop_xxlg) {
		width: $betelgeuse;
	}
}
